.header {
    background: #000;
}

.header__inner {
    max-width: 1230px;
    padding: 15px 0;
    margin: 0 auto;
}

.header__logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}